.navbar{
    background-color: #007FFF;
    padding: 1%;
    color: white;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.logout-button{
    background-color: white;
    color: black;
}