<html>
    <head></head>
    <body>
        <div class="signup-container">
            <h2>Signup</h2>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="fullName">Full Name</label>
                    <input id="fullName" type="text" formControlName="fullName" class="form-control" />
                </div>
                <small *ngIf="signupForm.controls['fullName'].dirty && signupForm.hasError('required','fullName')" class="text-danger">*Full name is required</small>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" formControlName="email" class="form-control" />
                </div>
                <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger">*Email is required</small>  
                <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('email', 'email')" class="text-danger">*Enter a valid email</small>       
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" formControlName="password" class="form-control" type="password"/>
                </div>
                <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required</small>                        
                <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('pattern','password')" class="text-danger">*Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character</small>   
                <button type="submit" class="btn btn-primary">Signup</button>
                <div *ngIf="signupError" class="alert alert-danger mt-3">
                    {{ signupError }}
                </div>
            </form>
            <div class="login-link">
                <p>Already have an account? <a href="/">Login here</a></p>
            </div>        
        </div>
    </body>
</html>
